<?xml version="1.0" encoding="UTF-8"?>
<phpunit convertErrorsToExceptions="true"
		 convertNoticesToExceptions="true"
		 convertWarningsToExceptions="true"
		 stopOnFailure="false"
		 syntaxCheck="false"
		 backupGlobals="false"
		 backupStaticAttributes="false"
		 colors="true"
		 bootstrap="bootstrap.php">
	<testsuites>
		<testsuite name="CI Application Test Suite">
			<directory>./application/tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>